{% extends "grumblr/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="changepwd">
        <h1>Change password</h1>

        {% if success %}
            <div class="alert">Password updated successfully</div>
            <span><a class="btn btn-primary" href={% url 'login' %}>Re-login</a></span>
        {% endif %}

        <form method="post" action="{% url 'changepassword' %}">
            {% csrf_token %}
            <h6>{{ form.oldpassword.label }}</h6>
            <span>{{ form.oldpassword|add_class:'form-control' }}</span>

            <h6>{{ form.newpassword1.label }}</h6>
            <span>{{ form.newpassword1|add_class:'form-control' }}</span>

            <h6>{{ form.newpassword2.label }}</h6>
            <span>{{ form.newpassword2|add_class:'form-control' }}</span>

            {% if not success %}
                <input type="submit" value="Submit">
            {% endif %} <br>

            {% if oldpassword_is_wrong %}
                <span class="badge badge-danger">Incorrect current password</span>
            {% endif %}
            {% for error in validate %}
                <span class="badge badge-danger">{{ error }}</span>
            {% endfor %}
        </form>
    </div>
{% endblock %}