{% extends "grumblr/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="resetpwd">
        <h1>Reset password</h1>

        <form method="post" action="{% url 'resetpassword' %}">
            {% csrf_token %}
            <h4>{{ form.email.label }}</h4>
            <span>{{ form.email|add_class:'form-control' }}</span>
            {% if not success %}
                <input type="submit" value="Submit">
            {% endif %}
            <br><br>
            {% for error in validate %}
                <span class="badge badge-danger">{{ error }}</span>
            {% endfor %}
            {% if email_is_wrong %}
                <span class="badge badge-danger">Email address does not exist in system</span>
            {% endif %}
        </form>
    </div>

{% endblock %}