% extends "grumblr/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="resetpwd">
        <h1>Change password</h1>

        {% if isValidLink %}
            <form method="post" action="{% url 'reset' %}">
                {% csrf_token %}
                <h6>{{ form.newpassword1.label }}</h6>
                <span>{{ form.newpassword1|add_class:'form-control' }}</span>

                <h6>{{ form.newpassword2.label }}</h6>
                <span>{{ form.newpassword2|add_class:'form-control' }}</span>

                <input type="submit" value="Submit">

                {% if oldpassword_is_wrong %}
                    <span class="badge badge-danger">Incorrect current password</span>
                {% endif %}
                {% for error in validate %}
                    <span class="badge badge-danger">{{ error }}</span>
                {% endfor %}
            </form>
        {% endif %}
    </div>

{% endblock %}